body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  display: inline;
  clear: both;
}

.status {
  width: 110px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  height: 30px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 30px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
  display: inline;
}

.head-board {
  display: flex;
  justify-content: center;
  height: 30px;
}

.win {
  background-color: black;
  color: white;
}

.bold {
  font-weight: bold;
  color: rgb(207, 194, 194);
  background-color: #a28c8c;
}

.w-150 {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  margin: 5px 0px 0px 0px;
  border: none;
  outline: none;
}

@media only screen and (max-width: 768px) {

  .square {
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
  }
}